In [1]:
import numpy as np

In [15]:
w=np.sum(np.arange(1,100000))
type(w)

numpy.int32

In [12]:
sum([i for i in range(1,100000)])

4999950000

In [13]:
np.arange(1,100000)

array([    1,     2,     3, ..., 99997, 99998, 99999])

In [17]:
2**32

4294967296

In [16]:
[i for i in range(1,100000)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

# 14 August 2023

In [1]:
list(zip({1,2,3,4},{1,2,3,4}))

[(1, 1), (2, 2), (3, 3), (4, 4)]

In [2]:
list(zip({1,2,3,4},{1,2,4}))

[(1, 1), (2, 2), (3, 4)]

In [3]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> A zip object yielding tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [8]:
a = {1,257,3,4}
b = {1,257,3,4}
id(a)

2719849556896

In [9]:
id(b)

2719849555104

In [13]:
for i in a:
    print(i,id(i))

1 140720690632464
3 140720690632528
4 140720690632560
257 2719849441232

In [14]:
for i in b:
    print(i,id(i))

1 140720690632464
3 140720690632528
4 140720690632560
257 2719849441584

In [12]:
list(zip(a,b))

[(1, 1), (3, 3), (4, 4), (257, 257)]

# 17 August 2023

In [1]:
# Courtsey of Ramya Maam
l1 = [1,2,3,4]
l2 = ["true",True,False]

In [2]:
l1.append(l2)
l1

[1, 2, 3, 4, ['true', True, False]]

In [3]:
l2

['true', True, False]

In [4]:
l2.extend(l1)
l2

['true', True, False, 1, 2, 3, 4, [...]]

In [5]:
l1

[1, 2, 3, 4, ['true', True, False, 1, 2, 3, 4, [...]]]

In [7]:
id(l2)

2507530303488

In [8]:
for i in l1[-1]:
    print(id(i))

2507447914032
140719606912848
140719606912880
140719607191312
140719607191344
140719607191376
140719607191408
2507530303488

In [9]:
for i in l1[-1][-1]:
    print(id(i))

2507447914032
140719606912848
140719606912880
140719607191312
140719607191344
140719607191376
140719607191408
2507530303488

The above behaviour happens because when we append l2 in l1 a view is created and when l2 is extended internally l1 is also getting updated and this process happens infinite times and to show that in the end we get ```[...]``` and it will always give the entire list on -1

In [6]:
l2[-1]

['true', True, False, 1, 2, 3, 4, [...]]

# 1 September 2023

In [2]:
a = {2,3,4,True}
a

{True, 2, 3, 4}

In [3]:
a = {1,2,3,True}
a

{1, 2, 3}

The above behaviour happens because internally set treats True in its boolean value which is 1 so the core concept of set is no duplicates so the 1 only comes 1 time. Same can also be created with False

In [5]:
a= {0,1,2,3,False}
a

{0, 1, 2, 3}

------------------

In [24]:
a = 'a'*4097
b = 'a'*4097
print(a is b)
print(id(a[0]),id(b[0]))
print(id(a[4096]),id(b[4096]))
c = set()
for i in a:
    c.add(id(i))
print(c)
print(id(a),id(b))

False
2738274234160 2738274234160
2738274234160 2738274234160
{2738274234160}
2738336393232 2738337380992

In [9]:
a = 'a'*4096
b = 'a'*4096
print(a is b)
print(id(a),id(b))

True
2738311676080 2738311676080

Possible explanation: There is a limit to how many characters can be stored in same memory location

In [22]:
a = "1.5"
b = "1.5"
a is b

False

In [23]:
a = "15"
b = "15"
a is b

True

# 26 September 2023

In [7]:
a = 257
b = 257
a is b

False

In [5]:
interned_integers = {}
def intern_integer(n):
    if -6 <= n <= 277:
        if n in interned_integers:
            return interned_integers[n]
        else:
            interned_integers[n] = n
            return n
    else:
        return n

a = intern_integer(257)
b = intern_integer(257)
c = intern_integer(300)
d = intern_integer(300)

print(a,b,c,sep="\n")
print(a is b)  # True (a and b reference the same object)
print(d is c)  # False (a and c reference different objects)

257
257
300
True
False

In [6]:
interned_integers = set()

for i in range(-1000, 1000):
    obj_id = id(i)  # Get the unique ID of the object
    interned_integers.add(obj_id)  # Add the ID to the set

# Check if integers in the range -6 to 277 are interned
interned_range = set()
for i in range(-6, 278):
    obj_id = id(i)
    if obj_id in interned_integers:
        interned_range.add(i)

print("Interned range:", interned_range)

Interned range: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 259, -1, -5, -4, -3, -2}

In [8]:
codeInString = 'a = 257\nb=257\nsum=a+b\nprint("sum =",sum,a is b)'
codeObject = compile(codeInString, 'sumstring', 'exec')

exec(codeObject)

# Output: 15

sum = 514 True

In [7]:
a = []
for i in range(1,39):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38]

In [12]:
import itertools
import random

def generate_unique_pairs(unique_numbers):
    # Shuffle the list of unique numbers
    shuffled_numbers = random.sample(unique_numbers, len(unique_numbers))
    
    # Pair the shuffled numbers
    paired_numbers = zip(shuffled_numbers[::2], shuffled_numbers[1::2])
    
    # Yield the pairs
    for pair in paired_numbers:
        yield pair

# Example: Generate unique pairs for a list of unique integers
unique_integers = a

unique_pairs = generate_unique_pairs(unique_integers)

# Display the result
pairs = []
print("Unique Pairs:")
for pair in unique_pairs:
    print(pair)
    pairs.append(pair)

Unique Pairs:
(23, 20)
(14, 1)
(3, 29)
(35, 7)
(32, 17)
(34, 2)
(4, 9)
(16, 13)
(25, 24)
(12, 21)
(19, 26)
(18, 38)
(8, 37)
(6, 5)
(36, 31)
(10, 11)
(33, 30)
(22, 15)
(27, 28)

In [14]:
print(pairs)

[(23, 20), (14, 1), (3, 29), (35, 7), (32, 17), (34, 2), (4, 9), (16, 13), (25, 24), (12, 21), (19, 26), (18, 38), (8, 37), (6, 5), (36, 31), (10, 11), (33, 30), (22, 15), (27, 28)]

In [15]:
names = ["Abinash J.","Ajay Koka","Aman Joshi","Anwesha","B. Archana","Gangadhari Sriram","K. Sreevani","Kishore Mondal","L. Ragu",
"L. Raju",
"L. Roshith",
"M. Spandana Devi",
"M. V. Murali Mohan",
"Manideep Reddy",
"Manoj Kumar",
"N. Bheema Sankar",
"P. Raja Raghu Vamshi Krishna",
"Pendru Prajwala Reddy",
"Ravi Singh",
"Sreehari S.",
"Suryapandi S.",
"A. Shyam",
"Asit Kumar Behera",
"Assan", 
"E Murali",
"E. Manikanta",
"G. Pavan",
"K. Narendhar",
"Lakshmi Teja",
"Ruthvi Chaitanya",
"S. Vishvaas",
"Sai Satyabrat Biswal",
"Sarath Reddy",
"Sonu Vikas",
"Syeda Umiya Hashmi",
"T. Dilip Singh",
"V. Vinod",
"Vamsi Trivikram"]

In [16]:
print(names)

['Abinash J.', 'Ajay Koka', 'Aman Joshi', 'Anwesha', 'B. Archana', 'Gangadhari Sriram', 'K. Sreevani', 'Kishore Mondal', 'L. Ragu', 'L. Raju', 'L. Roshith', 'M. Spandana Devi', 'M. V. Murali Mohan', 'Manideep Reddy', 'Manoj Kumar', 'N. Bheema Sankar', 'P. Raja Raghu Vamshi Krishna', 'Pendru Prajwala Reddy', 'Ravi Singh', 'Sreehari S.', 'Suryapandi S.', 'A. Shyam', 'Asit Kumar Behera', 'Assan', 'E Murali', 'E. Manikanta', 'G. Pavan', 'K. Narendhar', 'Lakshmi Teja', 'Ruthvi Chaitanya', 'S. Vishvaas', 'Sai Satyabrat Biswal', 'Sarath Reddy', 'Sonu Vikas', 'Syeda Umiya Hashmi', 'T. Dilip Singh', 'V. Vinod', 'Vamsi Trivikram']

In [17]:
import pandas as pd

In [24]:
df = pd.DataFrame(names,columns=["Names"])

In [48]:
df["Names"].value_counts()

Names
Abinash J.                      1
Lakshmi Teja                    1
A. Shyam                        1
Asit Kumar Behera               1
Assan                           1
E Murali                        1
E. Manikanta                    1
G. Pavan                        1
K. Narendhar                    1
Ruthvi Chaitanya                1
Ajay Koka                       1
S. Vishvaas                     1
Sai Satyabrat Biswal            1
Sarath Reddy                    1
Sonu Vikas                      1
Syeda Umiya Hashmi              1
T. Dilip Singh                  1
V. Vinod                        1
Suryapandi S.                   1
Sreehari S.                     1
Ravi Singh                      1
Pendru Prajwala Reddy           1
Aman Joshi                      1
Anwesha                         1
B. Archana                      1
Gangadhari Sriram               1
K. Sreevani                     1
Kishore Mondal                  1
L. Ragu                         1
L. Raju                         1
L. Roshith                      1
M. Spandana Devi                1
M. V. Murali Mohan              1
Manideep Reddy                  1
Manoj Kumar                     1
N. Bheema Sankar                1
P. Raja Raghu Vamshi Krishna    1
Vamsi Trivikram                 1
Name: count, dtype: int64

In [27]:
import random as rd

In [57]:
l=df["Names"].tolist()

In [53]:
rd.sample(l,k=2)

['Kishore Mondal', 'Sai Satyabrat Biswal']

In [62]:
teams = pd.DataFrame(p,columns=["Team Member 1","Team Member 2"])
teams

           Team Member 1                 Team Member 2
0   Sai Satyabrat Biswal              N. Bheema Sankar
1               V. Vinod                Manideep Reddy
2            S. Vishvaas         Pendru Prajwala Reddy
3             Abinash J.                   Manoj Kumar
4                L. Raju              M. Spandana Devi
5               G. Pavan             Asit Kumar Behera
6             B. Archana  P. Raja Raghu Vamshi Krishna
7      Gangadhari Sriram                     Ajay Koka
8           Sarath Reddy               Vamsi Trivikram
9           K. Narendhar                      A. Shyam
10    M. V. Murali Mohan                  Lakshmi Teja
11            Aman Joshi                    Ravi Singh
12           Sreehari S.                 Suryapandi S.
13        T. Dilip Singh                    L. Roshith
14              E Murali                       Anwesha
15               L. Ragu            Syeda Umiya Hashmi
16            Sonu Vikas              Ruthvi Chaitanya
17          E. Manikanta                         Assan
18           K. Sreevani                Kishore Mondal

In [63]:
teams.to_csv("team.csv")

# 12 March 2024

In [4]:
import numpy as np
import matplotlib.pyplot as plt

In [3]:
numbers1 = np.random.normal(50,10,10)
numbers1

array([65.27471763, 48.9361613 , 49.13074943, 75.04629246, 39.21922913,
       50.81131862, 55.8076046 , 48.06071118, 58.51317957, 55.96312308])

- steps