## Regular Expression

A regular expression, often called a pattern, is **an expression used to specify a set of strings** required for a particular purpose. 

- A simple way to specify a finite set of strings is to list its elements or members. <br>For example `{Doc1,1,Doc2,2,Doc3,3}`. 
    

`{Doc1,Doc2,Doc3}` can be specified by the pattern `Doc(1|2|3)`. <br>We say that this pattern matches each of the two strings. [Lets check?](https://regex101.com/)

> In most formalisms, if there exists at least one regular expression that matches a particular set then there exists an infinite number of other regular expressions that also match it, i.e. **the specification is not unique**.<br>
For example, the string set `{Doc1,Doc2,Doc3}` can also be specified by the pattern `Doc\d`.

## Uses of Regular Expressions

**Some important usages of regular expressions are:**

- Check if an input honors a given pattern; for example, we can check whether a value entered in a HTML formulary is a valid e-mail address
> `Maniteja123@gmail.com`

- Look for a pattern appearance in a piece of text; for example, check if either the word "color" or the word "colour" appears in a document with just **one scan**
> `I like Red color and i am wearing a Red colour shirt`

- Extract specific portions of a text; for example, extract the postal code of an address
> `Mr John Smith. 132, My Street, Kingston, New York 12401.`

- Replace portions of text; for example, change the appearance of "color" with "colour"
> `I like Red colour and i am wearing a Red colour shirt`

- Split a larger text into smaller pieces, for example, splitting a text by any appearance of the dot, comma, or newline characters
> `myself person1,you are person2`

# Meta Characters

- All meta characters. `^ $ * + ? { } \ | ( ) `

  1. `.` any character (except new line character)
  2. `^` startswith `^word`
  3. `$` endswith `word$`
  4. `*` zero or more occurrences
  5. `+` one or more occurrences
  6. `{}` exactly specified no of occurrences "M{2}"
  7. `[]` A set of characters "[a-c]"
  8. `\` Signals a special sequence (can also be used to escape special characters) "\d"
  9. `|` Either or "apple|iphone"
  10. `()` Capture and group

# Special Sequences
- A special sequence is a \ followed by one of the characters in the list below, and has a special       meaning:

  1. `\d` : Matches any decimal digit; this is equivalent to the class [0-9].
  2. `\D` : Matches any non-digit character; this is equivalent to the class [^0-9].
  3. `\s` : Matches any whitespace character, next line character(\n) or tab(\t);
  4. `\S` : Matches any non-whitespace character;
  5. `\w` : Matches any alphanumeric (word) character; this is equivalent to the class [a-zA-Z0-9_].
  6. `\W` : Matches any non-alphanumeric character; this is equivalent to the class [^a-zA-Z0-9_].

#### Some examples for set 
 1. `[arn]` Returns a match where one of the specified characters (a, r, or n) are present
 2. `[a-n]` Returns a match for any lower case character, alphabetically between a and n
 3. `[^arn]` Returns a match for any character EXCEPT a, r, and n
 4. `[0123]` Returns a match where any of the specified digits (0, 1, 2, or 3) are present
 5. `[0-9]` Returns a match for any digit between 0 and 9
 6. `0-5` Returns a match for any two-digit numbers from 00 and 59
 7. `[a-zA-Z]` Returns a match for any character alphabetically between a and z, lower case OR upper      case

# Getting started with RegEx in Python

The **[re](https://docs.python.org/3/howto/regex.html)** module provides an interface to the regular expression engine, allowing you to **compile regular expressions into objects and then perform matches with them**.

In [1]:
import re

## 1. Compiling Regular Expressions

Regular expressions are **compiled** into `Pattern` objects, which have methods for various operations such as searching for pattern matches or performing string substitutions.


### `re.compile(pattern, flags=0)`

Compile a regular expression pattern, returning a pattern object.

- The regular expression is passed to `re.compile()` as a **string**. 

> Regular expressions are handled as strings because regular expressions arenâ€™t part of the core Python language, and no special syntax was created for expressing them. 

> Regular expression patterns are compiled into a series of bytecodes which are then executed by a matching engine written in C.

## 2. Performing Matches

So, we have created a `Pattern` object representing a compiled regular expression using `re.compile()` method.

Pattern objects have several methods and attributes.

Here is the list of different methods used for performing matches:


<table style="border: 1px solid black; font-size:15px;">
<thead>
    <th>Method/Attribute</th>
    <th>Purpose</th>
</thead>
    
<tbody>
<tr>
    <td>match()</td>
    <td>Determine if the RE matches at the beginning of the string.</td>
</tr>
    
<tr>
    <td>search()</td>
    <td>Scan through a string, looking for any location where this RE matches.</td>
</tr>

<tr>
    <td>findall()</td>
    <td>Find all substrings where the RE matches, and returns them as a list.</td>
</tr>

<tr>
    <td>finditer()</td>
    <td>Find all substrings where the RE matches, and returns them as an iterator.</td>
</tr>
</tbody>
</table>

# Functions

`findall()` Returns a list containing all matches

`sub()` Replaces one or many matches with a string

`search()` Returns a Match object if there is a match anywhere in the string

`compile()` Returns a Regex pattern object

In [6]:
a="I am learning Python programming language from 2023"

#### re.findall()
#### re.findall (pattern, target string)
>  It helps to get a list of all matching patterns. It has no constraints of searching from start or end.

In [9]:
re.findall("[0-9]",a)

['2', '0', '2', '3']

In [10]:
re.findall("[0-9]+",a)

['2023']

In [11]:
re.findall("\d",a)

['2', '0', '2', '3']

In [12]:
re.findall("\d+",a)

['2023']

**re.finditer()**

- finditer only can call in iteration

In [28]:
re.finditer("\d+",a)

In [27]:
for i in re.finditer("\d+",a):
    print(i)

<re.Match object; span=(0, 2), match='56'>
<re.Match object; span=(49, 53), match='2023'>

In [29]:
for i in re.finditer("\d+",a):
    print(i.group())

56
2023

In [30]:
for i in re.finditer("\d+",a):
    print(i.span())

(0, 2)
(49, 53)

**re.search()**

- search also works same as other function finding operations.

- search will only give you the first match as your output.

In [15]:
a="56I am learning Python programming language from 2023"

In [19]:
search=re.search("\d+",a)

In [22]:
search

In [21]:
search.span()

(0, 2)

In [23]:
search.start()

0

In [24]:
search.end()

2

In [25]:
search.group()

'56'

In [18]:
re.findall("\d+",a)

['56', '2023']

**re.sub()  -- Substitute**

- Substitutes the target sub string in the string with a pattern.

- `syntax`:

    - `re.sub(pattern, replacement, string)`

In [32]:
a="a123b456"

In [33]:
a.replace("1","@")

'a@23b456'

In [34]:
a.replace("2","@")

'a1@3b456'

In [35]:
a

'a123b456'

In [36]:
re.sub("\d","@",a)

'a@@@b@@@'

In [41]:
email="""'maniteja@gmail.com',
 'mani_teja@gmail.com',
 'mani.teja@gmail.in',
 'maniteja1234@gmail.com',
 'maniteja@outlook.com',
 'mani_teja@outlook.org',
 'mani.teja@outlook.com',
 'maniteja1234@outlook.com',
 'maniteja@yahoo.org',
 'mani_teja@yahoo.com',
 'mani.teja@yahoo.in',
 'maniteja1234@yahoo.com'"""

In [42]:
email

"'maniteja@gmail.com',\n 'mani_teja@gmail.com',\n 'mani.teja@gmail.in',\n 'maniteja1234@gmail.com',\n 'maniteja@outlook.com',\n 'mani_teja@outlook.org',\n 'mani.teja@outlook.com',\n 'maniteja1234@outlook.com',\n 'maniteja@yahoo.org',\n 'mani_teja@yahoo.com',\n 'mani.teja@yahoo.in',\n 'maniteja1234@yahoo.com'"

In [43]:
re.findall(r"[\w.]+@\w+\.\w+",email)

['maniteja@gmail.com',
 'mani_teja@gmail.com',
 'mani.teja@gmail.in',
 'maniteja1234@gmail.com',
 'maniteja@outlook.com',
 'mani_teja@outlook.org',
 'mani.teja@outlook.com',
 'maniteja1234@outlook.com',
 'maniteja@yahoo.org',
 'mani_teja@yahoo.com',
 'mani.teja@yahoo.in',
 'maniteja1234@yahoo.com']

In [44]:
re.findall(r"[\w.]+@gmail\.\w+",email)

['maniteja@gmail.com',
 'mani_teja@gmail.com',
 'mani.teja@gmail.in',
 'maniteja1234@gmail.com']

In [46]:
re.findall(r"[\w.]+@gmail|outlook\.\w+",email)

['maniteja@gmail',
 'mani_teja@gmail',
 'mani.teja@gmail',
 'maniteja1234@gmail',
 'outlook.com',
 'outlook.org',
 'outlook.com',
 'outlook.com']

In [47]:
re.findall(r"[\w.]+@(?:gmail|outlook)\.\w+",email)

['maniteja@gmail.com',
 'mani_teja@gmail.com',
 'mani.teja@gmail.in',
 'maniteja1234@gmail.com',
 'maniteja@outlook.com',
 'mani_teja@outlook.org',
 'mani.teja@outlook.com',
 'maniteja1234@outlook.com']

In [48]:
re.findall(r"[\w.]+@(\w+)\.\w+",email)

['gmail',
 'gmail',
 'gmail',
 'gmail',
 'outlook',
 'outlook',
 'outlook',
 'outlook',
 'yahoo',
 'yahoo',
 'yahoo',
 'yahoo']

In [49]:
email="""'maniteja@gmail.com',
 'mani_teja@gmail.com',
 'mani.teja@ gmail.in',
 'maniteja1234@gmail.com',
 'maniteja@outlook.com',
 'mani_teja@outlook.org',
 'mani.teja@outlook.com',
 'maniteja1234@outlook.com',
 'maniteja@yahoo.org',
 'mani_teja@yahoo.com',
 'mani.teja@yahoo.in',
 'maniteja1234@yahoo.com'"""

In [51]:
re.findall(r"[\w.]+@\s?\w+\.\w+",email)

['maniteja@gmail.com',
 'mani_teja@gmail.com',
 'mani.teja@ gmail.in',
 'maniteja1234@gmail.com',
 'maniteja@outlook.com',
 'mani_teja@outlook.org',
 'mani.teja@outlook.com',
 'maniteja1234@outlook.com',
 'maniteja@yahoo.org',
 'mani_teja@yahoo.com',
 'mani.teja@yahoo.in',
 'maniteja1234@yahoo.com']

In [52]:
re.findall(r"[\w.]+@(gmail|outlook)\.\w+",email)

['gmail', 'gmail', 'gmail', 'outlook', 'outlook', 'outlook', 'outlook']

In [53]:
re.findall(r"[\w.]+@(?:gmail|outlook)\.\w+",email)

['maniteja@gmail.com',
 'mani_teja@gmail.com',
 'maniteja1234@gmail.com',
 'maniteja@outlook.com',
 'mani_teja@outlook.org',
 'mani.teja@outlook.com',
 'maniteja1234@outlook.com']

In [54]:
re.findall(r"[\w.]+@\s?\w+\.(?:in|org)",email)

['mani.teja@ gmail.in',
 'mani_teja@outlook.org',
 'maniteja@yahoo.org',
 'mani.teja@yahoo.in']

In [55]:
re.findall(r"[\w.]+@\s?(?:yahoo|outlook)\.(?:in|org)",email)

['mani_teja@outlook.org', 'maniteja@yahoo.org', 'mani.teja@yahoo.in']

In [57]:
phones="""SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)
SAMSUNG Galaxy F04 (Jade Purple, 64 GB)
POCO M3 Pro 5G (Yellow, 128 GB)
MOTOROLA e40 (Carbon Gray, 64 GB)
APPLE iPhone 13 (Blue, 128 GB)
APPLE iPhone 14 (Starlight, 128 GB)
APPLE iPhone 14 (Blue, 128 GB)
MOTOROLA G62 5G (Midnight Gray, 128 GB)
REDMI 10 (Pacific Blue, 64 GB)
REDMI 10 (Caribbean Green, 64 GB)
REDMI Note 11 SE (Cosmic White, 64 GB)
MOTOROLA G32 (Mineral Gray, 64 GB)
MOTOROLA G62 5G (Frosted Blue, 128 GB)
POCO C31 (Royal Blue, 64 GB)
MOTOROLA e40 (Pink Clay, 64 GB)
REDMI 10 (Midnight Black, 64 GB)
SAMSUNG Galaxy F23 5G (Copper Blush, 128 GB)
REDMI Note 12 Pro+ 5G (Obsidian Black, 256 GB)
SAMSUNG Galaxy F04 (Opal Green, 64 GB)
MOTOROLA G32 (Satin Silver, 64 GB)
POCO M4 Pro (Cool Blue, 64 GB)
REDMI 9i Sport (Coral Green, 64 GB)
SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)
POCO M4 Pro (Cool Blue, 128 GB)"""

In [65]:
re.findall("[A-Z]{4,}",phones)

['SAMSUNG',
 'SAMSUNG',
 'POCO',
 'MOTOROLA',
 'APPLE',
 'APPLE',
 'APPLE',
 'MOTOROLA',
 'REDMI',
 'REDMI',
 'REDMI',
 'MOTOROLA',
 'MOTOROLA',
 'POCO',
 'MOTOROLA',
 'REDMI',
 'SAMSUNG',
 'REDMI',
 'SAMSUNG',
 'MOTOROLA',
 'POCO',
 'REDMI',
 'SAMSUNG',
 'POCO']

In [67]:
re.findall("\((\w+\s?\w+),",phones)

['Forest Green',
 'Jade Purple',
 'Yellow',
 'Carbon Gray',
 'Blue',
 'Starlight',
 'Blue',
 'Midnight Gray',
 'Pacific Blue',
 'Caribbean Green',
 'Cosmic White',
 'Mineral Gray',
 'Frosted Blue',
 'Royal Blue',
 'Pink Clay',
 'Midnight Black',
 'Copper Blush',
 'Obsidian Black',
 'Opal Green',
 'Satin Silver',
 'Cool Blue',
 'Coral Green',
 'Forest Green',
 'Cool Blue']

In [69]:
re.findall("\((.*),",phones)

['Forest Green',
 'Jade Purple',
 'Yellow',
 'Carbon Gray',
 'Blue',
 'Starlight',
 'Blue',
 'Midnight Gray',
 'Pacific Blue',
 'Caribbean Green',
 'Cosmic White',
 'Mineral Gray',
 'Frosted Blue',
 'Royal Blue',
 'Pink Clay',
 'Midnight Black',
 'Copper Blush',
 'Obsidian Black',
 'Opal Green',
 'Satin Silver',
 'Cool Blue',
 'Coral Green',
 'Forest Green',
 'Cool Blue']

In [71]:
re.findall(",\s(\d+\sGB)",phones)

['128 GB',
 '64 GB',
 '128 GB',
 '64 GB',
 '128 GB',
 '128 GB',
 '128 GB',
 '128 GB',
 '64 GB',
 '64 GB',
 '64 GB',
 '64 GB',
 '128 GB',
 '64 GB',
 '64 GB',
 '64 GB',
 '128 GB',
 '256 GB',
 '64 GB',
 '64 GB',
 '64 GB',
 '64 GB',
 '128 GB',
 '128 GB']

In [73]:
property_="""4 BHK Villa for Sale in Tukkuguda, Srisailam Highway
3 BHK Villa for Sale in Kismatpur, Outer Ring Road
4 BHK Villa for Sale in Kondapur
4 BHK Villa for Sale in Tellapur, Outer Ring Road
4 BHK Villa for Sale in Kollur, Outer Ring Road
3 BHK Flat for Sale in Kondapur, Hyderabad
3 BHK Villa for Sale in Kompally
3 BHK Villa for Sale in Shankarpalli Road
3 BHK Flat for Sale in Kukatpally, NH 9, Hyderabad
5 BHK Villa for Sale in Kapra
4 BHK Villa for Rent in Kompally
5 BHK House for Sale in Old Alwal
2 BHK Flat for Sale in Gachibowli, Hyderabad
3 BHK Flat for Sale in Rajendra Nagar, Outer Ring Road, Hyderabad
2 BHK Flat for Sale in Miyapur, NH 9, Hyderabad
1 BHK Flat for Sale in Dilsukh Nagar, NH 9, Hyderabad
3 BHK Flat for Sale in Gachibowli, Hyderabad
3 BHK Flat for Sale in Nagole, Hyderabad
3 BHK Flat for Rent in Kondapur, Hyderabad
5 BHK Flat for Sale in Financial District, Nanakram Guda, Hyderabad
3 BHK Flat for Sale in KPHB Phase 9, Hyderabad
2 BHK Flat for Sale in Yapral, Hyderabad
3 BHK Flat for Sale in Attapur, Hyderabad
3 BHK Flat for Sale in Puppalaguda, Hyderabad
4 BHK Flat for Rent in Puppalaguda, Hyderabad
5 BHK Villa for Sale in Tukkuguda, Srisailam Highway
2 BHK Flat for Sale in Kompally, Hyderabad
2 BHK Flat for Sale in Turkayamjal, Hyderabad
2 BHK Flatregex for Sale in Pocharam, NH 2 2, Hyderabad
4 BHK Villa for Sale in Kismatpur, Outer Ring Road"""

In [75]:
re.findall("(\d\sBHK)",property_)

['4 BHK',
 '3 BHK',
 '4 BHK',
 '4 BHK',
 '4 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '5 BHK',
 '4 BHK',
 '5 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '1 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '5 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '4 BHK',
 '5 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '4 BHK']

In [76]:
re.findall("3\sBHK\sFlat.*",property_)

['3 BHK Flat for Sale in Kondapur, Hyderabad',
 '3 BHK Flat for Sale in Kukatpally, NH 9, Hyderabad',
 '3 BHK Flat for Sale in Rajendra Nagar, Outer Ring Road, Hyderabad',
 '3 BHK Flat for Sale in Gachibowli, Hyderabad',
 '3 BHK Flat for Sale in Nagole, Hyderabad',
 '3 BHK Flat for Rent in Kondapur, Hyderabad',
 '3 BHK Flat for Sale in KPHB Phase 9, Hyderabad',
 '3 BHK Flat for Sale in Attapur, Hyderabad',
 '3 BHK Flat for Sale in Puppalaguda, Hyderabad']

In [77]:
re.findall("5\sBHK\sVilla.*",property_)

['5 BHK Villa for Sale in Kapra',
 '5 BHK Villa for Sale in Tukkuguda, Srisailam Highway']

In [80]:
re.findall(".+Gachibowli.+",property_)

['2 BHK Flat for Sale in Gachibowli, Hyderabad',
 '3 BHK Flat for Sale in Gachibowli, Hyderabad']

In [85]:
a=re.sub(r"(Gachibowli)","Kondapur",property_)

In [86]:
print(a)

4 BHK Villa for Sale in Tukkuguda, Srisailam Highway
3 BHK Villa for Sale in Kismatpur, Outer Ring Road
4 BHK Villa for Sale in Kondapur
4 BHK Villa for Sale in Tellapur, Outer Ring Road
4 BHK Villa for Sale in Kollur, Outer Ring Road
3 BHK Flat for Sale in Kondapur, Hyderabad
3 BHK Villa for Sale in Kompally
3 BHK Villa for Sale in Shankarpalli Road
3 BHK Flat for Sale in Kukatpally, NH 9, Hyderabad
5 BHK Villa for Sale in Kapra
4 BHK Villa for Rent in Kompally
5 BHK House for Sale in Old Alwal
2 BHK Flat for Sale in Kondapur, Hyderabad
3 BHK Flat for Sale in Rajendra Nagar, Outer Ring Road, Hyderabad
2 BHK Flat for Sale in Miyapur, NH 9, Hyderabad
1 BHK Flat for Sale in Dilsukh Nagar, NH 9, Hyderabad
3 BHK Flat for Sale in Kondapur, Hyderabad
3 BHK Flat for Sale in Nagole, Hyderabad
3 BHK Flat for Rent in Kondapur, Hyderabad
5 BHK Flat for Sale in Financial District, Nanakram Guda, Hyderabad
3 BHK Flat for Sale in KPHB Phase 9, Hyderabad
2 BHK Flat for Sale in Yapral, Hyderabad
3 BHK Flat for Sale in Attapur, Hyderabad
3 BHK Flat for Sale in Puppalaguda, Hyderabad
4 BHK Flat for Rent in Puppalaguda, Hyderabad
5 BHK Villa for Sale in Tukkuguda, Srisailam Highway
2 BHK Flat for Sale in Kompally, Hyderabad
2 BHK Flat for Sale in Turkayamjal, Hyderabad
2 BHK Flatregex for Sale in Pocharam, NH 2 2, Hyderabad
4 BHK Villa for Sale in Kismatpur, Outer Ring Road

In [88]:
print(property_)

4 BHK Villa for Sale in Tukkuguda, Srisailam Highway
3 BHK Villa for Sale in Kismatpur, Outer Ring Road
4 BHK Villa for Sale in Kondapur
4 BHK Villa for Sale in Tellapur, Outer Ring Road
4 BHK Villa for Sale in Kollur, Outer Ring Road
3 BHK Flat for Sale in Kondapur, Hyderabad
3 BHK Villa for Sale in Kompally
3 BHK Villa for Sale in Shankarpalli Road
3 BHK Flat for Sale in Kukatpally, NH 9, Hyderabad
5 BHK Villa for Sale in Kapra
4 BHK Villa for Rent in Kompally
5 BHK House for Sale in Old Alwal
2 BHK Flat for Sale in Gachibowli, Hyderabad
3 BHK Flat for Sale in Rajendra Nagar, Outer Ring Road, Hyderabad
2 BHK Flat for Sale in Miyapur, NH 9, Hyderabad
1 BHK Flat for Sale in Dilsukh Nagar, NH 9, Hyderabad
3 BHK Flat for Sale in Gachibowli, Hyderabad
3 BHK Flat for Sale in Nagole, Hyderabad
3 BHK Flat for Rent in Kondapur, Hyderabad
5 BHK Flat for Sale in Financial District, Nanakram Guda, Hyderabad
3 BHK Flat for Sale in KPHB Phase 9, Hyderabad
2 BHK Flat for Sale in Yapral, Hyderabad
3 BHK Flat for Sale in Attapur, Hyderabad
3 BHK Flat for Sale in Puppalaguda, Hyderabad
4 BHK Flat for Rent in Puppalaguda, Hyderabad
5 BHK Villa for Sale in Tukkuguda, Srisailam Highway
2 BHK Flat for Sale in Kompally, Hyderabad
2 BHK Flat for Sale in Turkayamjal, Hyderabad
2 BHK Flatregex for Sale in Pocharam, NH 2 2, Hyderabad
4 BHK Villa for Sale in Kismatpur, Outer Ring Road

# Using Regular Expressions in Pandas (Data Cleaning)

In [89]:
import pandas as pd

In [91]:
df=pd.read_csv(r"C:\Users\HP\Downloads\Data Analysis @\Regular Expressions\data\text.csv",names=["Label","text"])

In [92]:
df

    Label                                               text
0       0  im sooo sick today...so no emery concert tonight
1       0  @Freebies4Mom I haven't been able to access it...
2       0                                  won't losing you
3       0  @GeminiTwisted I can't eat egg whites like @Da...
4       0                  At Home Writers Block Has Set In
5       0  Burnt myself on my old friend the mini spring ...
6       0  @tommcfly http://twitpic.com/64l1e - wow thats...
7       0  @seneca That's a crying shame.  I never liked ...
8       0  @kreatture there are a few in Halifax... Ex-na...
9       0  Sstill happy but my feet REALLY hurt. Wish I h...
10      0  We are a lil under 11 hrs away from OTH's seas...
11      0  I just got new pants today . . . I just spille...
12      0  @luke not getting enough sleep and letting emo...
13      0  @nnorafiza @Phee78 Just read your tweets about...
14      0  @JamieOber Now you know, that's not what I wan...
15      0  @hazelcullen it went awful my monologues went ...
16      0  said goodbye to the Baha'is tonight     One go...
17      0  @celebrian then you, vanessa, and chelsea stol...
18      0  is looking for her friend Kassi....where are y...
19      0  we may not be able to get hoodies!  Someone ju...
20      0  I woke up this morning having made a miraculou...
21      0  @helga_hansen That's the problem with &quot;my...
22      0           so sleepy waiting for the iphone update
23      0  @bridgers I'd love to visit you, but my car di...
24      0  @ErikaM12345 Ahh okay, i love that song!    I ...
25      0  @georgemanning Agility not a big success   He ...
26      0                                         it's dark
27      0  @susanreynolds ... Or, &quot;Those halcyon day...
28      0  @RK_24 Oh thank god...I think I died a little ...
29      0  @heathertcb why did u cut me out of the pic fo...
30      0          ugh AsHley G. she'z goinG off. . .iM sad
31      0  Yikes, supposed to bring couple of dishes to f...
32      0  -what happens when you purchase a cheap ring a...
33      0                    @AliC66 NOT GOING  no friends x

In [93]:
df["text"]

0     im sooo sick today...so no emery concert tonight
1     @Freebies4Mom I haven't been able to access it...
2                                     won't losing you
3     @GeminiTwisted I can't eat egg whites like @Da...
4                     At Home Writers Block Has Set In
5     Burnt myself on my old friend the mini spring ...
6     @tommcfly http://twitpic.com/64l1e - wow thats...
7     @seneca That's a crying shame.  I never liked ...
8     @kreatture there are a few in Halifax... Ex-na...
9     Sstill happy but my feet REALLY hurt. Wish I h...
10    We are a lil under 11 hrs away from OTH's seas...
11    I just got new pants today . . . I just spille...
12    @luke not getting enough sleep and letting emo...
13    @nnorafiza @Phee78 Just read your tweets about...
14    @JamieOber Now you know, that's not what I wan...
15    @hazelcullen it went awful my monologues went ...
16    said goodbye to the Baha'is tonight     One go...
17    @celebrian then you, vanessa, and chelsea stol...
18    is looking for her friend Kassi....where are y...
19    we may not be able to get hoodies!  Someone ju...
20    I woke up this morning having made a miraculou...
21    @helga_hansen That's the problem with &quot;my...
22             so sleepy waiting for the iphone update
23    @bridgers I'd love to visit you, but my car di...
24    @ErikaM12345 Ahh okay, i love that song!    I ...
25    @georgemanning Agility not a big success   He ...
26                                           it's dark
27    @susanreynolds ... Or, &quot;Those halcyon day...
28    @RK_24 Oh thank god...I think I died a little ...
29    @heathertcb why did u cut me out of the pic fo...
30            ugh AsHley G. she'z goinG off. . .iM sad
31    Yikes, supposed to bring couple of dishes to f...
32    -what happens when you purchase a cheap ring a...
33                      @AliC66 NOT GOING  no friends x
Name: text, dtype: object

In [103]:
df["text"]=df["text"].replace("[^a-zA-Z0-9]"," ",regex=True)

In [104]:
df

    Label                                               text
0       0  im sooo sick today   so no emery concert tonight
1       0   Freebies Mom I haven t been able to access it...
2       0                                  won t losing you
3       0   GeminiTwisted I can t eat egg whites like  Da...
4       0                  At Home Writers Block Has Set In
5       0  Burnt myself on my old friend the mini spring ...
6       0   tommcfly http   twitpic com   l e   wow thats...
7       0   seneca That s a crying shame   I never liked ...
8       0   kreatture there are a few in Halifax    Ex na...
9       0  Sstill happy but my feet REALLY hurt  Wish I h...
10      0  We are a lil under    hrs away from OTH s seas...
11      0  I just got new pants today       I just spille...
12      0   luke not getting enough sleep and letting emo...
13      0   nnorafiza  Phee   Just read your tweets about...
14      0   JamieOber Now you know  that s not what I wan...
15      0   hazelcullen it went awful my monologues went ...
16      0  said goodbye to the Baha is tonight     One go...
17      0   celebrian then you  vanessa  and chelsea stol...
18      0  is looking for her friend Kassi    where are y...
19      0  we may not be able to get hoodies   Someone ju...
20      0  I woke up this morning having made a miraculou...
21      0   helga hansen That s the problem with  quot my...
22      0           so sleepy waiting for the iphone update
23      0   bridgers I d love to visit you  but my car di...
24      0   ErikaM      Ahh okay  i love that song     I ...
25      0   georgemanning Agility not a big success   He ...
26      0                                         it s dark
27      0   susanreynolds     Or   quot Those halcyon day...
28      0   RK    Oh thank god   I think I died a little ...
29      0   heathertcb why did u cut me out of the pic fo...
30      0          ugh AsHley G  she z goinG off     iM sad
31      0  Yikes  supposed to bring couple of dishes to f...
32      0   what happens when you purchase a cheap ring a...
33      0                     AliC   NOT GOING  no friends x